.productList{
    flex: 4;
    padding: 20px;
    height: 100%;
}

.table{
    height: 90%;
}

.productListProduct{
    display: flex;
    align-items: center;
}

.notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.notFound span{
    font-weight: var(--font-medium);
    font-size: var(--h1-font-size);
}

.productListImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: #f32a2a;
    cursor: pointer;
}